@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 64px; /* Height of the navbar */
}

section {
  scroll-margin-top: 64px; /* Offset for fixed navbar */
}
/* For smaller screens, ensure the image and text stack properly */
@media (max-width: 768px) {
  .hero-container {
    flex-direction: column !important;
  }

  .hero-image {
    margin: 1rem auto; /* Center the image */
  }
}
